<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Borkfolio - Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel='stylesheet' type='text/css' media='screen' href='/static/css/custom.css'>
</head>

<body>

  <main role="main">

    <div class="container">

      <h4>Matthew Ashley</h4>

      <div class="row">

        <p>
          Senior software developer at Lumen Technologies specializing in back-end development and process automation
        </p>

      </div>

      <h4>About Me</h4>

      <div class="row">

        <p>
          Hello there! My name is Matthew, and my interest in creating video game content is what jumpstarted my
          journey into software development. Professionally, I've been developing software focused on business process
          automation for the past 6+ years.
        </p>

        <p>
          What first sparked my interest in programming was participation in custom plugin development for a Minecraft
          community around 2012-2013. I would sit in with the community's dedicated plugin developers and we would
          pitch ideas to each other for custom server events, minigames, game overhauls, etc. They helped me get
          started with the basics of programming, and with some dedication I was eventually able to assist with basic
          tasks and expansions to their work.
        </p>

        <p>
          Over the next few years I worked in a network operations center, tasked with monitoring networking
          equipment, managing outages, and resolving issues via remote device provisioning where possible. I used my
          downtime to build various tools with Python and Javascript to automate tedious day-to-day tasks, utilizing
          various internal and third-party APIs, and shared those tools within the work group. I learned the
          query language for the company's log aggregation and data visualization software, and managers
          would send me requests for various charts and reports.
        </p>

        <p>
          In 2017 a small group of friends and I decided to pursue our shared interest in game development, and we
          founded an LLC by the name of tinyEnt. We used our free time to develop our first creation - a free game
          written in Unity with both endless runner and shoot-em-up elements titled "Creamed".
        </p>

        <p>
          In late 2017 I secured a software developer position at Lumen Technologies, in a small group focused on
          business process improvement and automation. The team has grown substantially since I first joined, and I've
          contributed numerous improvements to our workflow over the years - from implementation of automation health
          alert notifications to the design of a robust and resilient framework optimized for our team's needs. Today, I
          handle new projects, team mentoring, code reviews, technical interviews, database management, reporting, and
          everything in between.
        </p>

      </div>

      <h4 class="text-center">Experience</h4>

      <div class="row">

        <div class="col col-sm-12 col-md-6 col-lg-3 col-xxl-3 my-4">

          <div class="card mx-auto" style="width: 14rem;">

            <div class="card-body">
              <h5 class="card-title text-center">Languages</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">C#</li>
              <li class="list-group-item">Python</li>
              <li class="list-group-item">Javascript</li>
              <li class="list-group-item">VB.net</li>
            </ul>

          </div>

        </div>

        <div class="col col-sm-12 col-md-6 col-lg-3 col-xxl-3 my-4">

          <div class="card mx-auto" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Database</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Microsoft SQL Server</li>
              <li class="list-group-item">MongoDB</li>
              <li class="list-group-item">OracleDB</li>
              <li class="list-group-item">PostgreSQL</li>
            </ul>
          </div>

        </div>


        <div class="col col-sm-12 col-md-6 col-lg-3 col-xxl-3 my-4">

          <div class="card mx-auto" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Software</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Git</li>
              <li class="list-group-item">UiPath</li>
              <li class="list-group-item">Docker</li>
              <li class="list-group-item">Postman</li>
            </ul>
          </div>

        </div>

        <div class="col col-sm-12 col-md-6 col-lg-3 col-xxl-3 my-4">

          <div class="card mx-auto" style="width: 14rem;">

            <div class="card-body">
              <h5 class="card-title text-center">Miscellaneous</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">REST/SOAP API</li>
              <li class="list-group-item">Linux Development</li>
              <li class="list-group-item">AWS Deployment</li>
              <li class="list-group-item">GitLab CI/CD</li>
            </ul>

          </div>

        </div>

      </div>

      <h4 class="text-center">Interests</h4>

      <div class="row justify-content-center gy-3">

        <div class="col-lg-3">

          <div class="card mx-auto" style="width: 14rem;">

            <i class="bi bi-joystick card-image-top text-center" style="font-size: 5rem;"></i>

            <div class="card-body">

              <h5 class="card-title text-center mb-3">Video Games</h5>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>

            </div>

          </div>

        </div>

        <div class="col-lg-3">

          <div class="card mx-auto" style="width: 14rem;">

            <i class="bi bi-dice-3-fill card-image-top text-center" style="font-size: 5rem;"></i>

            <div class="card-body">

              <h5 class="card-title text-center mb-3">Board Games</h5>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>

            </div>

          </div>

        </div>

        <div class="col-lg-3">

          <div class="card mx-auto" style="width: 14rem;">

            <i class="bi bi-tools card-image-top text-center" style="font-size: 5rem;"></i>

            <div class="card-body">

              <h5 class="card-title text-center mb-3">Home Lab</h5>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>

            </div>

          </div>

        </div>

      </div>




      <div class="row">

        <h5>Bonus - Pets</h5>

      </div>

      <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">

          <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">

            <li class="ms-3">
              <a class="text-body-secondary" href="https://github.com/matthew-ashley-ctl" target="_blank">
                <i class="bi bi-github" style="font-size: 2rem; color: cornflowerblue;"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-body-secondary" href="https://www.linkedin.com/in/matthew-ashley-7b43b286/"
                target="_blank">
                <i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-body-secondary" href="https://discordapp.com/users/107259911812960256">
                <i class="bi bi-discord" style="font-size: 2rem; color: cornflowerblue;"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-body-secondary" href="mailto:mtashley92@gmail.com">
                <i class="bi bi-envelope-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
              </a>
            </li>

          </ul>

        </footer>

      </div>

    </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src='/static/js/script.js'></script>
</body>

</html>